@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');   

/* Colores de fondo para cada sección

Para el Html entero: rgb(122, 122, 115)
Para el Header: rgb(87, 86, 79);
Para el main: rgb(122, 122, 115);
Para el footer: rgb(248, 243, 206);

*/

/* Etiquetas */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html {
    font-size: 175%;
    background-color: rgb(122, 122, 115);
}

header {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    background-color: rgb(87, 86, 79);
    position: sticky;
    top: 0;
    z-index: 99;                                  /* tuve que escribir esto para que el header este por encima de las "cards" de bootstrp" */
  }

head ul {
  list-style-type: none;
}


nav ul li a {
    text-decoration: none;
  }


main {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;

}

body {
      background-color: rgb(122, 122, 115);
}

footer {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "MORF" 15,
    "SHLN" 50;
    background-color: rgb(248, 243, 206);
}

/* Clases */

.fondoColorNav {
  background-color:rgb(87, 86, 79);
}

.logoHeader {
    height: 75px
}

.textoBienvenidaYBanner {
    text-align: center;
    background-image: url(../Medios/Flash\ Sale\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logoFooterFacebook {
    height: 50px;
}

.logoFooterTwitter {
    height: 50px;
}


@keyframes fadeIn {         
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.textoIzquierdaAlLadoDeMilanesas {
    text-align: left;
}

.textoAlCentro {
    text-align: center;
    margin-top: 15px;
  }

.tituloElegirnos {
  text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
  }


.fuenteEntreSecciones {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "MORF" 18,
    "SHLN" 100;
  
}

.card-group {   
  margin-right: 34px;
  margin-left: 34px;
  margin-top: 34px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.card {
  background-color: rgb(44, 44, 40);
}

.seccionElegirnos {
  background-color: rgb(44, 44, 40);
}

.cajaPorQueElegirnos {
  height: 578px; 
  width: 1536px;
  display: flex;
  margin: auto;
}

.hijoPorQueElegirnosTexto {
  height: 432px;
  width: 768px;
  margin-top: 75px;
  margin-left: 35px;
}

.hijoPorQueElegirnosImagen {
  height: 578px;
  width: 768px;
}

.fotoCocinero {
  position: relative;
    top: -60x; 
    left: 100px;
    border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}